<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Artisan Bakery: Powered by AWS for Fresh Bakes, Custom Orders, and Easy Home Delivery</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>User Dashboard</h1>
            <h2>Welcome to Local Artisan Bakery</h2>
        </header>
        <nav class="main-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="content">
            <h3>Your Previous Orders</h3>
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Items</th>
                        <th>Total Price</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.items }}</td>  <!-- Concatenated list of items -->
                        <td>${{ order.total_price }}</td>
                        <td>
                            {% if order.order_date %}
                                {{ order.order_date.strftime('%Y-%m-%d') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{{ order.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            <p>&copy; 2024 Local Artisan Bakery. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
